:root{
    --primary-100: #99cef4;
    --primary-300: #3887BE;
    --primary-500: #38419D;
    --primary-700: #200E3A;

    --secondary-300: rgb(255, 138, 157);
    --secondary-500: rgb(222, 56, 84);
    --secondary-700: rgb(112, 13, 61);

    --neutral-100: rgb(245, 245, 245);
    --neutral-500: #d5d5da;
    --neutral-900: #0c0c0c;
}